<!-- Contenedor Principal -->
<div class="comments-container">


      <div class="">

      </div>
      <!-- Contenedor del Comentario -->
      <div class="comment-box">
        <div class="comment-head">
          <ngx-avatar class="comment-avatar" name="ismail karaca">ismail karaca</ngx-avatar>
        </div>
        <div class="comment-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae,
          praesentium optio, sapiente distinctio illo?
        </div>
      </div>

</div>
