<div class="header">

  <!--Content before waves-->
  <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->
    <div class="row">
      <div class="col-12">
        <div class="btn btn-lg btn-outline-light border-0"><h1>ÖDEVLER</h1></div>
      </div>
      <div class="col-12">
        <span class="text-light text-start">Ödevler sekmesinden haftanın ödevini görüntüle</span>
      </div>
    </div>
  </div>

  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <g class="parallax">

      </g>
    </svg>
  </div>
  <!--Waves end-->

</div>
