<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid container">
    <a class="text-black text-center text-decoration-none fs-5" routerLink="/">
      <fa-icon class="text-black text-center" [icon]="faHome"></fa-icon>
      SOLUTION CHALLENGE</a>
    <button *ngIf="isLogged&&homeworkIsVisible" (click)="collapse()" class="navbar-toggler py-2" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebarSupportedContent"
            aria-controls="sidebarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon class="mx-2" [icon]="faListCheck"></fa-icon>
      Ödevler
      <i class="fa-solid fa-list-check"></i>
    </button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 visible">

      </ul>
      <form class="d-flex" *ngIf="!isLogged">
        <button routerLink="/auth" class="btn btn-outline-primary mx-2" type="submit">Giriş Yap</button>
        <button routerLink="/auth/register" class="btn btn-outline-primary" type="submit">Kayıt Ol</button>
      </form>

      <ul class="navbar-nav" *ngIf="isLogged">
        <li class="nav-item dropdown dropstart">
          <a class="nav-link" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" data-toggle="dropdown"
             aria-expanded="false">
            <ngx-avatar name="{{user.name + ' ' + user.lastName}}"></ngx-avatar>
          </a>

          <div *ngIf="user.name !== '?'" id="myAvatar" class="dropdown-menu dropstart bg-light text-black"
               aria-labelledby="navbarDropdownMenuLink">
            <h5 class="dropdown-item" href="#">{{user.name + " " + user.lastName|lowercase }}</h5>
            <hr class="dropdown-divider">
            <a class="dropdown-item text-center" routerLink="/user-detail">Profil Düzenle</a>
            <a class="dropdown-item text-center" (click)="logout()">Çıkış Yap</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>

