<div class="overflow-auto" style="max-height: 630px">
  <nav class="navbar navbar-expand-lg  mb-3">
    <div class="container-fluid container d-flex flex-row justify-content-center align-items-center">
      <div [ngClass]="[isCollapsed ? 'collapse navbar-collapse show':'collapse navbar-collapse']"
           id="sidebarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

        </ul>
        <div *ngIf="isLoading" class="d-flex justify-content-center">
          <div class="spinner-border text-primary" style="width: 2rem; height: 2rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="!isLoading" class="accordion card-body accordion-flush overflow-auto" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                1.Hafta
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 1" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                2.Hafta
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 2" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                3.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 3" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree4">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                4.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree4" class="accordion-collapse collapse" aria-labelledby="flush-headingThree4"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 4" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree5" aria-expanded="false" aria-controls="flush-collapseThree5">
                5.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree5" class="accordion-collapse collapse" aria-labelledby="flush-headingThree5"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 5" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree6">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree6" aria-expanded="false" aria-controls="flush-collapseThree6">
                6.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree6" class="accordion-collapse collapse" aria-labelledby="flush-headingThree6"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 6" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree7">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree7" aria-expanded="false" aria-controls="flush-collapseThree7">
                7.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree7" class="accordion-collapse collapse" aria-labelledby="flush-headingThree7"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 7" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree8">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree8" aria-expanded="false" aria-controls="flush-collapseThree8">
                8.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree8" class="accordion-collapse collapse" aria-labelledby="flush-headingThree8"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 8" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree9">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree9" aria-expanded="false" aria-controls="flush-collapseThree9">
                9.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree9" class="accordion-collapse collapse" aria-labelledby="flush-headingThree9"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 9" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree10">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree10" aria-expanded="false" aria-controls="flush-collapseThree10">
                10.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree10" class="accordion-collapse collapse" aria-labelledby="flush-headingThree10"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 10" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree11">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree11" aria-expanded="false" aria-controls="flush-collapseThree11">
                11.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree11" class="accordion-collapse collapse" aria-labelledby="flush-headingThree11"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 11" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree12">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree12" aria-expanded="false" aria-controls="flush-collapseThree12">
                12.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree12" class="accordion-collapse collapse" aria-labelledby="flush-headingThree12"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 12" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree13">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree13" aria-expanded="false" aria-controls="flush-collapseThree13">
                13.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree13" class="accordion-collapse collapse" aria-labelledby="flush-headingThree13"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 13" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree14">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree14" aria-expanded="false" aria-controls="flush-collapseThree14">
                14.Hafta
              </button>
            </h2>
            <div id="flush-collapseThree14" class="accordion-collapse collapse" aria-labelledby="flush-headingThree14"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ng-container *ngFor="let homework of homeworks; index as i">
                  <div *ngIf="homework.week == 14" (click)="collapse(homework.id)"
                       class="alert alert-success small text-center fw-bold"
                       [ngClass]="{'alert-info':homework.type==1, 'alert-warning':homework.type==2, 'alert-danger':homework.type==3}"
                       style="cursor: pointer" role="alert">
                    {{homework.title}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </nav>
</div>
