<div class="d-flex flex-column align-items-center h-100  justify-content-center">
  <div *ngIf="!isValid && !isLoading" class="d-flex flex-column align-items-center h-100  justify-content-center">
    <div class="  mb-3" style="max-width: 650px;">
      <div class="row">
        <div class="col d-flex justify-content-center align-items-center h-100">
          <img src="./assets/opss.svg" class="img-fluid align-self-center rounded" alt="...">

        </div>
        <div class="col d-flex flex-row justify-content-start align-items-center">
          <h1 class="display-1 text-center">Geçersiz Link</h1>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="isValid && !isLoading" class="card  mb-3" style="max-width: 650px;">
    <div class="row g-0">
      <div class="">
        <div class="card-body">
          <h1 class="card-title text-center text-capitalize">Yeni Şifre</h1>
          <hr>
          <form #f="ngForm">
            <div class="form-floating mb-1">
              <input name="username" #password="ngModel" required ngModel type="password"
                     class="form-control {{!password.valid && password.touched ? 'is-invalid':''}}"
                     id="floatingInput" placeholder="Yeni şifre">
              <label for="floatingInput">Yeni şifre</label>
            </div>
            <div class="form-floating mb-1">
              <input required ngModel #passwordNew="ngModel" name="password" type="password"
                     class="form-control {{!passwordNew.valid && passwordNew.touched || password.value !== passwordNew.value ?  'is-invalid':''}}"
                     id="floatingPassword" placeholder="Yeni şifre tekrar">
              <label for="floatingPassword">Yeni şifre tekrar</label>
            </div>
            <div class="row">
              <div class="col d-flex flex-row justify-content-center align-items-center">
                <button [disabled]="!f.valid || password.value !== passwordNew.value" (click)="save(f)"
                        class="btn btn-primary">Kaydet
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


